.cardboard {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 1%;
  flex-flow: row wrap;

}

.card {
    color: #1E1C1E;
    margin: 2% 4px;
    padding: 2%;
    min-width: 250px;

  @media (max-width: 4000px) {
      flex-basis: 30%;
  }

    @media (max-width: 640px) {
      flex-basis: 50%;
  }
}

.card h2 {
  margin-top: 0;
  text-align: center;
  color: white
}

.card hr {
  margin-top: 0;
}

.card-last-check {

  overflow:scroll;
  height:400px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.card-last-check {
  ul {
    transform: rotate(180deg);
}
  ul > li {
    transform: rotate(-180deg);
  }
}

.card-description h4 {
  color:white;
}


.card .card-content .card-title {
  margin-bottom: 30px;
}

.card.content{
  height: 500px;
}

.green {
  color: $green;
}

.red {
  color: $red;
}
