// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

//
// @import "plugin";
.see-receipe {
color: #FF7257;
border: solid 2px #FF7257;
background-color: none;
font-size: 14px;
padding: 0.7em;
margin-top: 3em;
}
