// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

//
// @import "plugin";


body {
  background: #360033;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(left, #0b8793, #360033);
  background: -o-linear-gradient(left, #0b8793, #360033);
  background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul {
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 0 10%;
 }

 li {
 }

h1 {
  font-family: 'Lato';
  text-transform: uppercase;
  margin: 2% 5%;
  font-size: 76px;
  color: white;
}

h2 {
  text-align: center;
}
